<div id="comment-form">
	<hr>	
	<textarea id="comment" class="form-control" name=""></textarea>
	<button type="button" class="btn btn-success pull-right" onclick="createNewComment()">Comment</button>
	<hr>	
</div>