<div id="comment-form">
	<hr>	
	<textarea id="sub-comment-<%= comment.id %>" class="form-control" name=""></textarea>
	<button type="button" class="btn btn-success pull-right" onclick="createSubComment(<%= comment.id %>)">Comment</button>
	<hr>	
</div>